In [1]:
#Importing the libraries needed to process the data
import pandas as pd
import numpy as np

In [2]:
#Reading the data from the file location
data=pd.read_csv('energydata_complete.csv')

In [3]:
#This will display the first three rows of the dataset
data.head(3)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [4]:
#Check the dataset for missing values in each of the columns
data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [5]:
#Dimension of the dataset
data.shape

(19735, 29)

In [6]:
#Checking for duplicate rows
data.duplicated().any()

False

In [7]:
#Drop both date and light columns
data = data.drop(["date","lights"],axis=1)

In [8]:
#Dataset without date and light columns
data.head(2)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [9]:
#Normalize the dataset using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(data),columns=data.columns)

In [10]:
scaled_data.head(2)#Normalized dataset

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.50000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.47619,0.894872,0.533937,0.372083,0.372083

In [11]:
#Seperate the dataset into attributes and target, that is the X and y variable
X = scaled_data.drop(["Appliances"],axis=1)
y = scaled_data["Appliances"]

In [12]:
#Splitting the dataset for training and testing 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

## Question_12
## My_Answer = 0.64

In [13]:
#Fitting a linear regression between T2 and T6
x1 = np.array(scaled_data["T2"])
y1 = np.array(scaled_data["T6"])
#We need to reshape the x variable because we have only one predicator
x1 = x1.reshape(-1,1)
x1_train, x1_test, y1_train, y1_test = train_test_split(
    x1, y1, test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x1_train,y1_train)
y1_pred = model.predict(x1_test)
from sklearn.metrics import r2_score
r2 = r2_score(y1_test,y1_pred)
round(r2,2)

0.64

## Question_13
## My_Answer = 0.05

In [14]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
train_score = reg.score(X_train,y_train)
test_score = reg.score(X_test, y_test)
print("Training Score of linear Regression model is {:.3f}".format(train_score))
print("Testing Score of linear Regression model is {:.3f}".format(test_score))

Training Score of linear Regression model is 0.145
Testing Score of linear Regression model is 0.149

In [15]:
#Mean Absolute Error(mae)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
print("mean absolute error for linear_model:{}".format(round(mae,2)))

mean absolute error for linear_model:0.05

## Question_14
## My_Answer = 45.35

In [16]:
#Residual Sum of Squared(RSS)
rrs = np.sum(np.square(y_test-y_pred))
print("Residual sum of linear_model: {}".format(round(rrs,2)))

Residual sum of linear_model: 45.35

## Question_15
## My_Answer = 0.088

In [17]:
#Root Mean Square Error(rmse)
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print("Root mean squared error for linear_model: {}".format(round(rmse,3)))

Root mean squared error for linear_model: 0.088

## Question_16
## My_Answer = 0.15

In [18]:
#R_squared(cooefficient of determination)
from sklearn.metrics import r2_score
r_squared = r2_score(y_test,y_pred)
print("R_squared for linear_model {:.2f}".format(r_squared))

R_squared for linear_model 0.15

## Question_17
## My_Answer = RH_2, RH_1

In [19]:
#Check the weight of the feactures using linear regression
def weights(model,feat,col_name):
    weights = pd.Series(model.coef_,feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ["Features",col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_reg_weights = weights(reg,X_train,"Linear_model_weight")
linear_reg_weights

       Features  Linear_model_weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv2             0.000770
11          rv1             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

## Question_18
## My_Answer = No

In [20]:
#Ridge model at alpha=0.4
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=0.4)
ridge.fit(X_train,y_train)
ridge_pred = ridge.predict(X_test)
train_score = ridge.score(X_train,y_train)
test_score = ridge.score(X_test,y_test)
print("Training score of lasso regression model is {:.3f}".format(train_score))
print("Testing score of lasso regression model is {:.3f}".format(test_score))

Training score of lasso regression model is 0.145
Testing score of lasso regression model is 0.149

In [21]:
#Root Mean Squared Error(rmse) for ridge model
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,ridge_pred)
rmse = np.sqrt(mse)
print("root mean squared error for ridge model:{}".format(round(rmse,3)))

root mean squared error for ridge model:0.088

## Question_19
## My_Answer = 4

In [22]:
#Lasso model at alpha=0.001
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.001)
lasso.fit(X_train,y_train)
lasso_pred = lasso.predict(X_test)
train_score = lasso.score(X_train,y_train)
test_score = lasso.score(X_test,y_test)
print("Training score of lasso regression model is {:.3f}".format(train_score))
print("Testing score of lasso regression model is {:.3f}".format(test_score))
print("Number of features for training: {:.3f}".format(np.sum(lasso.coef_!=0)))

Training score of lasso regression model is 0.025
Testing score of lasso regression model is 0.027
Number of features for training: 4.000

## Question_20
## My_Answer = 0.094

In [23]:
# Rmse for lasso model
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,lasso_pred)
rmse = np.sqrt(mse)
print("root mean squared error for lasso model:{}".format(round(rmse,3)))

root mean squared error for lasso model:0.094